.search-form {
  border-radius: 32px;
  z-index: 100;
}

.sign-up, .forgot-pw {
  margin-top: 15px;
  margin-bottom: 10px;
}

.google-signin {
  a {
    text-decoration: none;
  }
}

.login-btn, .signin-btn {
  color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
  width: Fixed (162px);
  height: Fixed (65px);
  padding: 8px;
  border-radius: 32px;
  border: 1px 2px solid;
  text-align: center;
  gap: 8px;
  padding: 10px 50px !important;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.50) 6.26%, rgba(255, 255, 255, 0.00) 93.85%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  &:hover {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.00) 93.85%, rgba(255, 255, 255, 0.50) 6.26%);
    color: black !important;
    border: black;
  }
}

.create-event-btn {
  color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
  width: Fixed (162px);
  height: Fixed (65px);
  padding: 8px;
  border-radius: 32px;
  border: 1px 2px solid;
  gap: 8px;
  padding: 10px 24px !important;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.50) 6.26%, rgba(255, 255, 255, 0.00) 93.85%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  &:hover {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.00) 93.85%, rgba(255, 255, 255, 0.50) 6.26%);
    color: black !important;
    border: black;
  }
}
